.save-lives {
  background-image: url('../assets/images/footer.svg');
  background-repeat: no-repeat;
  background-size: 2560px auto;
  background-position: top;
  text-align: center;
  height: 380px;
  padding-top: 100px;
  padding-bottom: 80px;
}
