/* .body {
  font-family: 'Poppins', sans-serif !important;
} */

.btn-main {
  color: #ff3f62;
  font-size: 14px;
  font-weight: 800;
  padding: 12px 24px;
  border: 2px solid #ff3f62;
  border-radius: 3px;
  background-color: transparent;
}
.btn-main:hover {
  color: #ffffff;
  background-color: #ff3f62;
}

.btn-google {
  border: 2px solid lightgray;
  color: #999999;
  padding: 12px 26px;
  border-radius: 6px;
  background-color: transparent;
  width: 100%;
}
.btn-google:hover {
  background-color: #f7f7f9;
}

.sub-hero-title {
  color: #fff;
  font-size: 2.2rem;
}

.sub-hero-text {
  font-size: 1.2rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 576px) {
  .type-img {
    max-width: 120px;
  }
  .donar-img {
    max-width: 150px;
  }
}
